#weather-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 90%;
    position: absolute;
    right: 0;
    top: 5px;
}

.weather-form-card {
    width: 375px;
    height: 470px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.weather-form-card > p {
    margin: 10px 0 0 0;
    font-size: 26px;
}

.in-weather-form-text-img-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.in-weather-form-text-img-holder > div {
    font-size: 30px;
}

.clouds-and-soildata-holder {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 330px;
    height: 285px;
    justify-content: space-between;
}

.few-clouds {
    display: flex;
    flex-flow: column;
    width: 280px;
    align-items: center;
}

.few-clouds > p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    padding: 5px;
    text-transform: capitalize;
}

.clouds-holder {
    width: 280px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.clouds-holder > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    justify-content: space-between;
    font-size: 18px;
}

.current-soil {
    display: flex;
    flex-flow: column;
    width: 280px;
    align-items: center;
}

.current-soil > p {
    margin: 0;
    font-size: 20px;
}

.soil-data-holder {
    width: 280px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.soil-data-holder > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    justify-content: space-between;
    font-size: 18px;
}

.hourly-weather-card-holder {
    width: 375px;
    max-height: 174px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    overflow-y: scroll;
    overflow-x: hidden;
}

.hourly-weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 87px;
    padding-right: 10px;
}

.time-and-image-holder {
    width: 120px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-and-image-holder > div {
    display: flex;
    flex-flow: column;
    width: 53px;
    height: 75px;
    justify-content: center;
    font: 400 14px/1.3 Roboto,Arial,sans-serif;
    align-items: center;
}

.day {
    margin: 0 !important;
}

.time-and-image-holder > div > p {
    font: 400 14px/1.3 Roboto,Arial,sans-serif;
    margin: 14px 0 0 0; 
}

.wind-pressure-holder {
    display: flex;
    flex-flow: column;
    width: 240px;
    height: 49.2px;
    justify-content: center;
}

.wind-pressure-holder * {
    font: 400 14px/1.3 Roboto,Arial,sans-serif;
}

.wind-pressure-holder :last-child > p {
    margin: 0;
}

.temperature-and-weather-desc {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 14px;
}

.temperature-and-weather-desc > div {
    display: inline-block;
    vertical-align: top;
    min-width: 51px;
    padding: 3px 5px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2196f3;
    border-radius: 10px;
}

.temperature-and-weather-desc > p {
    margin: 0 40px 0 0;
    text-transform: capitalize;
}


#chose-polygon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 90%;
    position: absolute;
    right: 0;
    top: 5px;
}

#chose-polygon > p {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 28px;
}
